header {
	color: black;
	border-style: solid;
    border-width: 0px;
	border-top: 0px;
	border-right: 0px;
	border-left:0px;
    border-bottom: 0px;
    border-color: black;
	text-align: left;
	position: fixed; 
	width:100%;
}

article.barre{
	background-color: black;
}

hi.corps{
	background-color: black;
}

header p{
	text-align: left;
	display: inline;
}

p.titre {
	text-align: center;
	color: white;
	text-shadow: 3px 3px 2px black;
	text-decoration: none;
	font-size: 250%;
}

h1 {
	color: #96B2EA;
	text-decoration: none;
	font-size: 250%;
	margin-left: 30px;
	margin-right: 30px;
	background-color:#004575;
	border-radius: 10px;
	padding-top:15px;
	padding-bottom:25px;
	padding-left:15px;
	border: 5px solid grey;
	border-style: solid double;
	text-align: left;
}

img{
	float : left;
	padding-right: 15px;
}

body {
	margin-top :0px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	background-color:white;
	background-size: cover;
	background-attachment: fixed;
}

section article img{
	width: 640px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	height: auto;
	background-color: grey;
	}


section article{
	border: 10px solid #004575;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;
	vertical-align: top;
	background-color: #004575;
	
}

article.box
{
	display: inline-block; 
	height: 20px;
	border: 2px solid black;
	border-radius: 0;
	width: 100px;
	margin: 1	;
	padding: 0;
}


a {
	color: black;
	text-align: center;
	font-size: 25px;
	background-color: snow;
}

nav a {
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px 5px 10px;
		border-radius: 10px;
        margin: 5px;
		color: #CCCCCC;
		background-color: #000000;
		width: 150px;
		font-size: 130%;
}

nav a:hover{
	color: white;
	background-color: #101010;
}

#add {
	width: 200px;
}

nav{
	display: inline-block;
}

nav.navgauche{
	text-align: left;
}

nav.navdroite{
	text-align: right;
}

section {
	text-align: center;
}

section.contour{
	padding-top: 40px;
	padding-left: 120px;
	padding-right: 120px;
	padding-bottom: 40px;
	border-collapse: collapse;
	background-color: #444444;
	text-align: center;
}

section.corps {
	margin-top: 40px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-collapse: collapse;
	background-color: white;
	text-align: center;
}

p.corps {
	width: 640px;
	padding-bottom: 0px;
	font-size: 20px;
	position: center;
	background-color: white;
	color: black;
}

h2 {
	color: black;
	background-color: white;
	font-size: 20px;
	font-weight: normal;
	margin-top: 0px ;
	margin-bottom: 0px ;
	border-radius: 10px;
}

article h2 {
	text-shadow: 3px 3px 2px black;
	color: white;
	background-color: transparent;
	font-size: 20px;
	font-weight: normal;
	margin-top: 0px ;
	margin-bottom: 0px ;
	border-radius: 10px;
	font-weight:bold;
}

* {
 font-family: Tahoma;
 text-decoration: none;
}

footer a {
        text-decoration: none;
        display: inline-block;
        text-align:center;
		vertical-align: bottom;
        padding: 5px 10px 5px 10px;
		border-radius: 10px;
        margin: 10px;
		color: white;
		background-color: #004575;
}

footer a:hover{
	color: black;
	background-color: lightgray;
}

footer {
	background-color:white;
	border-style: solid;
    border-width: 0px;
	border-top: 0px;
	border-right: 0px;
	border-left:0px;
    border-bottom: 0px;
    border-color: black;
	text-align: left;
}


audio {
	border: 10px solid lightblue;
	border-style: ridge;
	border-radius: 10px;

}
article p.court { 
	width: 600px;
	margin-left: 8px;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-right: 8px;
	border-radius: 10px;
	padding-bottom: 0px;
	font-size: 20px;
	position: center;
	background-color: white;
	color: black;
	
}

p  {
	margin: 8 8 8 8;
	padding: 5 5 5 5;
	font-size: 20px;
	background-color: white;
	color: black;
	display: inline-block;
}

