* {
	font-family: Tahoma;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}


nav {
	background-color: #004575;
	width: 100%;
	color: white;
	display: inline-block;
	padding: 10px 5px 10px 5px;
	text-align:center;

}

nav a {
	text-align:center;
	background-color:#96B2EA;
	color: black;
	display: inline-block;
	width: 5%;
	border: 2px solid black;
	padding: 5px;
	font-size: 15px;
}

nav a:hover {
	color: white;
}

#contour{
	padding-top: 40px;
	padding-left: 120px;
	padding-right: 120px;
	padding-bottom: 40px;
	border-collapse: collapse;
	background-color: #CCCCCC;
	text-align: center;
}

#corps {
	margin-top: 40px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-collapse: collapse;
	background-color: white;
	text-align: center;
}
a {
	color: black;
	text-align: center;
	font-size: 25px;
	background-color: snow;
}

article {
	display: inline-block;
}

img {
	width: 33%;
	height: auto;
}


h1 {
	background-color: #96B2EA;
	border: 2px solid #004575;
	text-align:left;
	font-size: 50px;
}

h1 img {
	padding: 5px 5px 5px 5px;
}

